<div class="col-xs-8">
  <h3>Your TV Shows</h3>
  <% @my_shows.each do |show| %>
    <div class='show'>
      <a href="/shows/<%= show.id %>"><%= show.name %></a>
    </div>
  <% end %>
</div>

<div class="col-xs-4">
  <h3>Add more shows!</h3>
  <form action="/users/<%= @user.id %>/shows" method="post">
    <% @shows.each do |show| %>
      <div class='show'>
        <checkbox name="show_ids[]" value="<%= show.id %>"></checkbox><%= show.name %>
      </div>
    <% end %>
    <button type="submit">Add</button>
  </form>
</div>
